/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common style and utilites */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 33px 51px 42px 30px;
}

/* Top player style start */
.section-title {
    font-size: 24px;
    color: #562EFF;
    margin-top: 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.players img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}

hr {
    margin-top: 30px;
    border: 1px solid #D1D1D1;
}